h1 {
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    background-color: black;
    color: white;
    padding: 20px
}

.h2 {
    font-size: 25px;
    margin-top: 5%;
    text-align: center;
    padding: 10px;
}

form {
    width: 50%;
    height: 75%;
    margin: auto;
    padding: 0px;
    position: relative;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    align-items: start;
    justify-content: center;
}

label {
    display: grid;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    text-align: center;
    width: auto;
}

input {
    font-size: 18px;
    width: 300px;
    padding: 4px;
    text-align: center;
    margin-top: 10px;
}

select {
    display: flex; 
    justify-content: center;
    align-items: center
}

.inputAlt {
    font-size: 18px;
    width: 100px;
    padding: 0px;
    text-align: center;
    margin-top: 0;
}

.submit {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 0;
    text-align: center;
}

.login {
    display: block;
    margin: auto;
    width: 275px;
    height: 50px;
    text-align: center;
    border: 4px solid darkred;
    background-color: indianred;
    font-size: 20px;
    font-weight: bold;
}

.purchase {
    display: block;
    margin: auto;
    width: 275px;
    height: 50px;
    text-align: center;
    border: 4px solid green;
    background-color: lightgreen;
    font-size: 20px;
    font-weight: bold;
}

.histBox {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.histItem {
    float: left;
    width: 24.75%;
    height: 100%;
    padding: 18px;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 5px;
}

.histButton {
    all: unset;
    float: left;
    width: 20%;
    height: 100%;
    padding: 18px;
    text-align: center;
    background-color: lightcoral;
    border: 2px solid red;
    margin-bottom: 5px;
}
